<div class="detail-title text-center">
    <h4>{{title}}</h4>
    <p>You responded better than:</p>
</div>
<div class="row no-gutters text-center">
    <div class="col-12 col-sm-6">
        <div class="graph">
            <div class="gauge-container">
                <osg-gauge css="green no-circle" [value]="33"></osg-gauge>
            </div>
            <p>of male lifters at your <b>strength level</b></p>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="graph">
            <div class="gauge-container">
                <osg-gauge css="orange no-circle" [value]="33"></osg-gauge>
            </div>
            <p>of male lifters at your <b>strength level</b></p>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="graph">
            <div class="gauge-container">
                <osg-gauge css="red no-circle" [value]="33"></osg-gauge>
            </div>
            <p>of male lifters at your <b>strength level</b></p>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="graph">
            <div class="gauge-container">
                <osg-gauge css="blue no-circle" [value]="33"></osg-gauge>
            </div>
            <p>of male lifters at your <b>strength level</b></p>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="graph">
            <div class="gauge-container">
                <osg-gauge css="red no-circle" [value]="33"></osg-gauge>
            </div>
            <p>of male lifters at your <b>strength level</b></p>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="graph">
            <div class="gauge-container">
                <osg-gauge css="red no-circle" [value]="33"></osg-gauge>
            </div>
            <p>of male lifters at your <b>strength level</b></p>
        </div>
    </div>
</div>
<div class="detail-footer">
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="gauge-container">
                <osg-gauge css="blue no-circle" [value]="33"></osg-gauge>
            </div>
        </div>
        <div class="col-12 col-sm-8">
            <p>of your mirror athletes (all variables combined)</p>
        </div>
    </div>
</div>