<div>
    <osg-profile-about-me profile="Strength Athlete" experience="11 years" interests="Hypertrophy and power lifting" [text]="about" country="Bergen, Norway" ></osg-profile-about-me>
    <osg-news-feed [applicationUser]="applicationUser"></osg-news-feed>
</div>
<div>
    <osg-strength-athlete-trophy-wall></osg-strength-athlete-trophy-wall>
    <osg-strength-athlete-timeline></osg-strength-athlete-timeline>
    <osg-strength-athlete-performance-table></osg-strength-athlete-performance-table>
    <osg-strength-athlete-top-program-designs></osg-strength-athlete-top-program-designs>
    <osg-strength-athlete-training-calendar></osg-strength-athlete-training-calendar>
    <osg-get-started view="tertiary" [sections]="getStartedSections"></osg-get-started>
</div>