<div class="title">
  <div class="row align-items-center">
    <div class="col-12 col-sm-6">
      <h3>TIMELINE</h3>
    </div>
    <div class="col-12 col-sm-6">
      <div class="control-slider text-right">
        <a href="" class="btn-control prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <a href="" class="btn-control next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="timeline-table">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th colspan="1" rowspan="2"></th>
          <th colspan="4"></th>
          <th colspan="13">2018</th>
        </tr>
        <tr>
          <th colspan="2">Sept.</th>
          <th colspan="2">Oct.</th>
          <th colspan="2">NOV.</th>
          <th colspan="2">Des.</th>
          <th>Jan.</th>
          <th>FEB.</th>
          <th>MAR.</th>
          <th>APR.</th>
          <th>MAY.</th>
          <th>JUN.</th>
          <th>JUL.</th>
          <th>AUG.</th>
          <th>SEPT.</th>
        </tr>
      </thead>
      <tbody>
        <tr class="program">
          <td>PROGRAM</td>
          <td colspan="3">Base lifts</td>
          <td colspan="4"><span class="pause"></span></td>
          <td colspan="3">Starting Strength</td>
          <td colspan="2">Ladder Strength</td>
          <td colspan="1">Power Building</td>
          <td colspan="2">GVT</td>
          <td colspan="2">5x5</td>
        </tr>
        <tr>
          <td>Period</td>
          <td colspan="3">10.09.17 - 06.10.17 </td>
          <td colspan="4"><span class="pause"></span></td>
          <td colspan="3">15.12.17 - 28.07.18 </td>
          <td colspan="2">01.03.18 - 30.04.18 </td>
          <td colspan="1">01.05.18 - 31.05.18 </td>
          <td colspan="2">01.06.18 - 31.07.18 </td>
          <td colspan="2">01.08.18 - 16.09.18 </td>
        </tr>
        <tr>
          <td>Category</td>
          <td colspan="3">Power </td>
          <td colspan="4"><span class="pause"></span></td>
          <td colspan="3">Strength </td>
          <td colspan="2">Strength</td>
          <td colspan="1">Strength/Hypertrophy </td>
          <td colspan="2">Hypertrophy </td>
          <td colspan="2">Strength </td>
        </tr>
        <tr>
          <td>Calorie con.</td>
          <td colspan="3">Maintenance </td>
          <td colspan="4"><span class="pause"></span></td>
          <td colspan="3">Maintenance </td>
          <td colspan="2">Surplus</td>
          <td colspan="1">Surplus </td>
          <td colspan="2">Deficit </td>
          <td colspan="2">Deficit </td>
        </tr>
        <tr>
          <td>Body Weight.</td>
          <td colspan="3">101 </td>
          <td colspan="4"><span class="pause"></span></td>
          <td colspan="3">102 </td>
          <td colspan="2">104</td>
          <td colspan="1">105 </td>
          <td colspan="2">104 </td>
          <td colspan="2">103 </td>
        </tr>
        <tr>
          <td>WAIST-HIP RATIO</td>
          <td colspan="3"><span class="good"></span></td>
          <td colspan="4"><span class="pause"></span></td>
          <td colspan="3"><span class="good"></span></td>
          <td colspan="2"><span class="ok"></span></td>
          <td colspan="1"><span class="need-improvement"></span></td>
          <td colspan="2"><span class="ok"></span></td>
          <td colspan="2"><span class="need-improvement"></span></td>
        </tr>
        <tr>
          <td>STRESS LEVEL</td>
          <td colspan="3"><span class="good"></span></td>
          <td colspan="4"><span class="pause"></span></td>
          <td colspan="3"><span class="good"></span></td>
          <td colspan="2"><span class="ok"></span></td>
          <td colspan="1"><span class="good"></span></td>
          <td colspan="2"><span class="ok"></span></td>
          <td colspan="2"><span class="good"></span></td>
        </tr>
        <tr>
          <td>SLEEP</td>
          <td colspan="3"><span class="ok"></span></td>
          <td colspan="4"><span class="pause"></span></td>
          <td colspan="3"><span class="need-improvement"></span></td>
          <td colspan="2"><span class="ok"></span></td>
          <td colspan="1"><span class="good"></span></td>
          <td colspan="2"><span class="good"></span></td>
          <td colspan="2"><span class="good"></span></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3"><a href=""><span>+</span>Add PT</a></td>
            <td colspan="4"><a href=""><span>+</span>Add PT</a></td>
            <td colspan="3"><a href=""><span>+</span>Add PT</a></td>
            <td colspan="2"><a class="added" href=""><span>-</span>PT Nohman</a></td>
            <td colspan="1"><a href=""><span>+</span>Add PT</a></td>
            <td colspan="2"><a href=""><span>+</span>Add PT</a></td>
            <td colspan="2"><a href=""><span>+</span>Add PT</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="conventions">
    <div class="row">
        <div class="col-12 text-right">
            <p class="pause">
                <span></span> Pause > 1 month
            </p>
            <p class="good">
                <span></span> Good
            </p>
            <p class="ok">
                <span></span> OK
            </p>
            <p class="need-improvement">
                <span></span> Need improvement
            </p>
            <p class="add-trainer">
                <span>+</span> Add your personal trainer
            </p>
        </div>
    </div>
</div>
