<div class="row">
    <div class="col-12">
        <h3>GET STARTED</h3>
    </div>
</div>

<div class="articles-list">
    <div class="article brand-box">
        <figure>
            <img alt="" class="img-fluid d-block mx-auto" src="/assets/images/logo.png">
        </figure>
    </div>
    <div class="article">
        <h4>CALENDAR BUILDER GUIDE</h4>
        <a href="" class="btn btn-yellow-gradient">READ MORE</a>
    </div>
    <div class="article">
        <h4>PROGRESSION MODEL GUIDE</h4>
        <a href="" class="btn btn-yellow-gradient">READ MORE</a>
    </div>
    <div class="article">
        <h4>ABOUT AUTO-REGULATION</h4>
        <a href="" class="btn btn-yellow-gradient">READ MORE</a>
    </div>
</div>
