<h3>my offers</h3>
<div class="offers-container">
    <div class="offer">
        <header></header>
        <div class="description">
            <h4>pt basic</h4>
            <span>5 hours</span>
        </div>
        <div class="pricing">
            <span>kr 2 500, -</span>
            <button class="btn btn-yellow-gradient">purchase</button>
        </div>
    </div>

    <div class="offer">
        <header></header>
        <div class="description">
            <h4>pt basic</h4>
            <span>5 hours</span>
        </div>
        <div class="pricing">
            <span>kr 2 500, -</span>
            <button class="btn btn-yellow-gradient">purchase</button>
        </div>
    </div>

    <div class="offer">
        <header></header>
        <div class="description">
            <h4>pt basic</h4>
            <span>5 hours</span>
        </div>
        <div class="pricing">
            <span>kr 2 500, -</span>
            <button class="btn btn-yellow-gradient">purchase</button>
        </div>
    </div>

    <div class="offer">
        <header></header>
        <div class="description">
            <h4>pt basic</h4>
            <span>5 hours</span>
        </div>
        <div class="pricing">
            <span>kr 2 500, -</span>
            <button class="btn btn-yellow-gradient">purchase</button>
        </div>
    </div>
</div>