<div class="title">
    <h3>my offers</h3>
</div>
<div class="offers-container">
    <div class="offer">
        <div class="content-offer">
            <header>
                <figure>
                    <img alt="" class="img-fluid d-block mx-auto" src="/assets/images/logo.png">
                </figure>
            </header>
            <div class="description">
                <h4>pt basic</h4>
                <span>5 hours</span>
            </div>
            <div class="pricing">
                <span>kr 2 500, -</span>
                <button class="btn btn-yellow-gradient btn-block">purchase</button>
            </div>
        </div>
    </div>

    <div class="offer">
        <div class="content-offer">
            <header>
                <figure>
                    <img alt="" class="img-fluid d-block mx-auto" src="/assets/images/logo.png">
                </figure>
            </header>
            <div class="description">
                <h4>pt Premium</h4>
                <span>10 hours</span>
            </div>
            <div class="pricing">
                <span>kr 4 700, -</span>
                <button class="btn btn-yellow-gradient btn-block">purchase</button>
            </div>
        </div>
    </div>

    <div class="offer">
        <div class="content-offer">
            <header>
                <figure>
                    <img alt="" class="img-fluid d-block mx-auto" src="/assets/images/logo.png">
                </figure>
            </header>
            <div class="description">
                <h4>pt pro</h4>
                <span>15 hours</span>
            </div>
            <div class="pricing">
                <span>kr 6 750, -</span>
                <button class="btn btn-yellow-gradient btn-block">purchase</button>
            </div>
        </div>
    </div>

    <div class="offer">
        <div class="content-offer">
            <header>
                <figure>
                    <img alt="" class="img-fluid d-block mx-auto" src="/assets/images/logo.png">
                </figure>
            </header>
            <div class="description">
                <h4>pt Business</h4>
                <span>20 hours</span>
            </div>
            <div class="pricing">
                <span>kr 8 600, -</span>
                <button class="btn btn-yellow-gradient btn-block">purchase</button>
            </div>
        </div>
    </div>
</div>