<h3>newsfeed</h3>
<div class="post-creator"></div>
<div class="post">
    <div class="content">
        <div class="author">
            <img />
            <div class="summary">
                <a href="#">Sara Smith</a>
                <span>30 minutes ago</span>
            </div>
        </div>
        <div class="post-content">
            <p>Best coaching ever! Looking forward to the next session!</p>
        </div>
    </div>
    <div class="comments-box">
        <div class="comment">
            <img />
            <div class="speech-bubble">
                <div class="comment-container">
                        <a href="#">Nohman Janjua</a>
                        <p>Pictures looks awesome yo, next session is going to be lit!</p>
                </div>
                <span>30 minutes ago</span>
            </div>
        </div>

        <div class="comment-creator">
            <img />
            <div class="input-container">
                <input type="text" />
            </div>
        </div>
    </div>
</div>