<div class="muscle-group-table">
  <div class="cell muscle">
    <div class="title">Main muscle group</div>
    <div class="content">
      <h4>Chest</h4>
    </div>
  </div>
  <div class="cell exercise">
    <div class="title">Test Exercise</div>
    <div class="content">
      <div class="dropdown">
        <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Bench press</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item" href="#">0-50</a>
          <a class="dropdown-item" href="#">51-60</a>
        </div>
      </div>
    </div>
  </div>
  <div class="cell program">
    <div class="title">Best Programs</div>
    <div class="content">
      <ol>
        <li>German Volme Training</li>
        <li>Starting Strength</li>
        <li>Ladder Strength</li>
      </ol>
    </div>
  </div>
  <div class="cell increase">
    <div class="title">% Increase (1RM)</div>
    <div class="content">
      <ol>
        <li>5.10 %</li>
        <li>5.10 %</li>
        <li>5.10 %</li>
      </ol>
    </div>
  </div>
</div>

<div class="muscle-group-table">
  <div class="cell muscle">
    <div class="title">Main muscle group</div>
    <div class="content">
      <h4>Back</h4>
    </div>
  </div>
  <div class="cell exercise">
    <div class="title">Test Exercise</div>
    <div class="content">
      <div class="dropdown">
        <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Dead lift</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item" href="#">0-50</a>
          <a class="dropdown-item" href="#">51-60</a>
        </div>
      </div>
    </div>
  </div>
  <div class="cell program">
    <div class="title">Best Programs</div>
    <div class="content">
      <ol>
        <li>German Volme Training</li>
        <li>Starting Strength</li>
        <li>Ladder Strength</li>
      </ol>
    </div>
  </div>
  <div class="cell increase">
    <div class="title">% Increase (1RM)</div>
    <div class="content">
      <ol>
        <li>5.10 %</li>
        <li>5.10 %</li>
        <li>5.10 %</li>
      </ol>
    </div>
  </div>
</div>

<div class="muscle-group-table">
  <div class="cell muscle">
    <div class="title">Main muscle group</div>
    <div class="content">
      <h4>Shoulders</h4>
    </div>
  </div>
  <div class="cell exercise">
    <div class="title">Test Exercise</div>
    <div class="content">
      <div class="dropdown">
        <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Seated Barbell show...</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item" href="#">0-50</a>
          <a class="dropdown-item" href="#">51-60</a>
        </div>
      </div>
    </div>
  </div>
  <div class="cell program">
    <div class="title">Best Programs</div>
    <div class="content">
      <ol>
        <li>German Volme Training</li>
        <li>Starting Strength</li>
        <li>Ladder Strength</li>
      </ol>
    </div>
  </div>
  <div class="cell increase">
    <div class="title">% Increase (1RM)</div>
    <div class="content">
      <ol>
        <li>5.10 %</li>
        <li>5.10 %</li>
        <li>5.10 %</li>
      </ol>
    </div>
  </div>
</div>

<div class="muscle-group-table">
  <div class="cell muscle">
    <div class="title">Main muscle group</div>
    <div class="content">
      <h4>Quads</h4>
    </div>
  </div>
  <div class="cell exercise">
    <div class="title">Test Exercise</div>
    <div class="content">
      <div class="dropdown">
        <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Squat</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item" href="#">0-50</a>
          <a class="dropdown-item" href="#">51-60</a>
        </div>
      </div>
    </div>
  </div>
  <div class="cell program">
    <div class="title">Best Programs</div>
    <div class="content">
      <ol>
        <li>German Volme Training</li>
        <li>Starting Strength</li>
        <li>Ladder Strength</li>
      </ol>
    </div>
  </div>
  <div class="cell increase">
    <div class="title">% Increase (1RM)</div>
    <div class="content">
      <ol>
        <li>5.10 %</li>
        <li>5.10 %</li>
        <li>5.10 %</li>
      </ol>
    </div>
  </div>
</div>

<div class="muscle-group-table">
  <div class="cell muscle">
    <div class="title">Main muscle group</div>
    <div class="content">
      <h4>Hamstrings</h4>
    </div>
  </div>
  <div class="cell exercise">
    <div class="title">Test Exercise</div>
    <div class="content">
      <div class="dropdown">
        <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Seated Leg Curl</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item" href="#">0-50</a>
          <a class="dropdown-item" href="#">51-60</a>
        </div>
      </div>
    </div>
  </div>
  <div class="cell program">
    <div class="title">Best Programs</div>
    <div class="content">
      <ol>
        <li>German Volme Training</li>
        <li>Starting Strength</li>
        <li>Ladder Strength</li>
      </ol>
    </div>
  </div>
  <div class="cell increase">
    <div class="title">% Increase (1RM)</div>
    <div class="content">
      <ol>
        <li>5.10 %</li>
        <li>5.10 %</li>
        <li>5.10 %</li>
      </ol>
    </div>
  </div>
</div>

<div class="muscle-group-table">
    <div class="cell muscle">
        <div class="title">Main muscle group</div>
        <div class="content">
            <h4>Calves</h4>
        </div>
    </div>
    <div class="cell exercise">
        <div class="title">Test Exercise</div>
        <div class="content">
            <div class="dropdown">
                <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Standing Calf Raises</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="#">0-50</a>
                    <a class="dropdown-item" href="#">51-60</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cell program">
        <div class="title">Best Programs</div>
        <div class="content">
            <ol>
            <li>German Volme Training</li>
            <li>Starting Strength</li>
            <li>Ladder Strength</li>
            </ol>
        </div>
    </div>
    <div class="cell increase">
        <div class="title">% Increase (1RM)</div>
        <div class="content">
            <ol>
                <li>5.10 %</li>
                <li>5.10 %</li>
                <li>5.10 %</li>
            </ol>
        </div>
    </div>
</div>

<div class="muscle-group-table">
    <div class="cell muscle">
        <div class="title">Main muscle group</div>
        <div class="content">
            <h4>Biceps</h4>
        </div>
    </div>
    <div class="cell exercise">
        <div class="title">Test Exercise</div>
        <div class="content">
            <div class="dropdown">
                <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Barbell Scott Curl</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="#">0-50</a>
                    <a class="dropdown-item" href="#">51-60</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cell program">
        <div class="title">Best Programs</div>
        <div class="content">
            <ol>
            <li>German Volme Training</li>
            <li>Starting Strength</li>
            <li>Ladder Strength</li>
            </ol>
        </div>
    </div>
    <div class="cell increase">
        <div class="title">% Increase (1RM)</div>
        <div class="content">
            <ol>
                <li>5.10 %</li>
                <li>5.10 %</li>
                <li>5.10 %</li>
            </ol>
        </div>
    </div>
</div>

<div class="muscle-group-table">
    <div class="cell muscle">
        <div class="title">Main muscle group</div>
        <div class="content">
            <h4>Tricep</h4>
        </div>
    </div>
    <div class="cell exercise">
        <div class="title">Test Exercise</div>
        <div class="content">
            <div class="dropdown">
                <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cumbell Skull Crusher</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="#">0-50</a>
                    <a class="dropdown-item" href="#">51-60</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cell program">
        <div class="title">Best Programs</div>
        <div class="content">
            <ol>
            <li>German Volme Training</li>
            <li>Starting Strength</li>
            <li>Ladder Strength</li>
            </ol>
        </div>
    </div>
    <div class="cell increase">
        <div class="title">% Increase (1RM)</div>
        <div class="content">
            <ol>
                <li>5.10 %</li>
                <li>5.10 %</li>
                <li>5.10 %</li>
            </ol>
        </div>
    </div>
</div>
