<h2>Exercises:</h2>

<div class="search-form">
    <div class="form-group">
        <input type="text" placeholder="Search: Exercises, Muscle Group" class="form-control">
    </div>
</div>

<div class="exercises-list">
    <h3>MULTI JOINT EXERCISES:</h3>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Squats</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>FRONT SQUATS</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Squats</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>FRONT SQUATS</h4>
        </figure>
    </div>

    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Squats</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>FRONT SQUATS</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Squats</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>FRONT SQUATS</h4>
        </figure>
    </div>
</div>

<div class="exercises-list">
    <h3>SINGLE JOINT EXERCISES:</h3>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Leg Extension</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>

    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>
    <div class="exercise">
        <figure>
            <img src="/assets/images/exercise-img.png" class="mx-auto d-block mb-1" alt="">
            <h4>Single Leg Extencions</h4>
        </figure>
    </div>
</div>
