<h2>Enter your information</h2>

<div class="row mb-4">
    <div class="col-12 col-sm-6 col-md-4">
        <div class="checbox-dropdown">
            <div class="checkbox custom-checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="dropdown black-dropdown with-label">
                <label for="">Gender</label>
                <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Male
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="#">Male</a>
                    <a class="dropdown-item" href="#">Female</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-6 col-md-4">
        <div class="checbox-dropdown">
            <div class="checkbox custom-checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="dropdown black-dropdown with-label">
                <label for="">Body Weight (kg)</label>
                <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">0-50
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <a class="dropdown-item" href="#">0-50</a>
                    <a class="dropdown-item" href="#">51-60</a>
                    <a class="dropdown-item" href="#">61-70</a>
                    <a class="dropdown-item" href="#">71-80</a>
                    <a class="dropdown-item" href="#">81-90</a>
                    <a class="dropdown-item" href="#">91-100</a>
                    <a class="dropdown-item" href="#">101-110</a>
                    <a class="dropdown-item" href="#">111-120</a>
                    <a class="dropdown-item" href="#">121-160</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-6 col-md-4">
        <div class="checbox-dropdown">
            <div class="checkbox custom-checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="dropdown black-dropdown with-label">
                <label for="">Height</label>
                <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">0-150
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                    <a class="dropdown-item" href="#">0-150 </a>
                    <a class="dropdown-item" href="#">151-160</a>
                    <a class="dropdown-item" href="#">161-170</a>
                    <a class="dropdown-item" href="#">171-180</a>
                    <a class="dropdown-item" href="#">181-190</a>
                    <a class="dropdown-item" href="#">191-200</a>
                    <a class="dropdown-item" href="#">201-210</a>
                    <a class="dropdown-item" href="#">211-220</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-4">
        <div class="checbox-dropdown">
            <div class="checkbox custom-checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="dropdown black-dropdown with-label">
                <label for="">Waist-Hip Ratio</label>
                <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">0,71-0,80</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                    <a class="dropdown-item" href="#">0,71-0,80</a>
                    <a class="dropdown-item" href="#">0.81-0,90</a>
                    <a class="dropdown-item" href="#">0,91-1,00</a>
                    <a class="dropdown-item" href="#">1,01-1,10</a>
                    <a class="dropdown-item" href="#">1,11-1,20</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="checbox-dropdown">
            <div class="checkbox custom-checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="dropdown black-dropdown with-label">
                <label for="">Age (years)</label>
                <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">0-20</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
                    <a class="dropdown-item" href="#">0-20</a>
                    <a class="dropdown-item" href="#">21-30</a>
                    <a class="dropdown-item" href="#">31-40</a>
                    <a class="dropdown-item" href="#">41-50</a>
                    <a class="dropdown-item" href="#">51-60</a>
                    <a class="dropdown-item" href="#">61-80</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="checbox-dropdown">
            <div class="checkbox custom-checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="dropdown black-dropdown with-label">
                <label for="">Muscle Fiber Type</label>
                <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">0-20</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                    <a class="dropdown-item" href="#">Slow twitch</a>
                    <a class="dropdown-item" href="#">Fast twitch</a>
                    <a class="dropdown-item" href="#">Fast and slow twitch</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="actions">
    <div class="col-12 col-lg-8">
        <div class="results">
            <h4>Results: </h4>
            <p>Male<span>x</span></p>
        </div>
    </div>
    <div class="col-12 col-lg-3 mt-2 mt-lg-0 text-center text-lg-right">
        <a href="" class="btn btn-yellow-gradient py-2 btn-block">DONE</a>
    </div>
</div>