@font-face {
  font-family: 'Square 721 BT Bold Extended';
  src: url(/fonts/Square721BT-BoldExtended.ttf?45ad37633d4592236a396ad5a6c7e204) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Futura Medium BT';
  src: url(/fonts/FuturaMediumBT.ttf?66f6014c632427132e3df49ec2163836) format("truetype");
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Square 721 BT Bold Extended";
  text-transform: uppercase;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  display: block;
}

h1.with-stars:after,
h2.with-stars:after,
h3.with-stars:after,
h4.with-stars:after,
h5.with-stars:after,
h6.with-stars:after {
  content: '';
  background: url("/images/stars.png") center no-repeat transparent;
  background-size: cover;
  width: 16.1rem;
  height: 4.8rem;
  display: block;
  margin: 0 auto;
}

/*TODO: Define proper font sizes for all headings, keep in mind that if anything is wrapped with <span>, the font size is smaller.*/

h2 {
  font-size: 2.8rem;
}

h2 span {
  font-size: 1.6rem;
}

.btn {
  padding: 1.5rem 3.5rem;
  border-radius: .5rem;
  color: white;
  text-transform: uppercase;
}

.btn.btn-primary {
  background: #48a200;
}

.btn.btn-transparent {
  background: transparent;
}

.btn--learn-more {
  color: white;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  border-radius: .5rem;
  height: 100%;
  cursor: pointer;
}

.btn--learn-more-w-bg {
  background: white;
  color: black;
  border-radius: 2px solid gray;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  border-radius: .5rem;
  height: 100%;
  cursor: pointer;
}

/*Make this semantic and define its scope, global classes are not our favorites*/

html {
  font-size: 62.5%;
}

@media (max-width: 1199.98px) {
  html {
    font-size: 54.5%;
  }
}

body {
  background: white;
  font-size: 1.4rem;
  font-family: "Square 721 BT Bold Extended";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

body,
html {
  height: 100%;
}

body header .navbar,
html header .navbar {
  background: black;
  text-transform: uppercase;
  width: 100%;
  height: 10.0rem;
  color: white;
  padding: 0;
  z-index: 999;
}

body header .navbar .container,
html header .navbar .container {
  min-height: 100%;
  max-width: 90%;
}

@media (min-width: 1200px) and (max-width: 1899.98px) {
  body header .navbar .container,
  html header .navbar .container {
    max-width: 90%;
  }
}

body header .navbar .container .logo,
html header .navbar .container .logo {
  padding: 0;
  background: black;
  padding: 3.0rem;
  margin-top: 7.0rem;
  border-radius: 50%;
}

@media (max-width: 991.98px) {
  body header .navbar .container .logo,
  html header .navbar .container .logo {
    background: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 991.98px) {
  body header .navbar .container .logo img,
  html header .navbar .container .logo img {
    max-height: 100%;
    padding: 1.0rem 0;
  }
}

body header .navbar .container .toggleNav,
html header .navbar .container .toggleNav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .navbar .container .btn--toggleNav,
html header .navbar .container .btn--toggleNav {
  display: none;
  background: #ffa600;
  border: none;
  padding: .8rem;
  border-radius: .4rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1899.98px) {
  body header .navbar .container .btn--toggleNav,
  html header .navbar .container .btn--toggleNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body header .navbar .container .btn--toggleNav .menu-bars .b1,
body header .navbar .container .btn--toggleNav .menu-bars .b2,
body header .navbar .container .btn--toggleNav .menu-bars .b3,
html header .navbar .container .btn--toggleNav .menu-bars .b1,
html header .navbar .container .btn--toggleNav .menu-bars .b2,
html header .navbar .container .btn--toggleNav .menu-bars .b3 {
  width: 2.0rem;
  background: black;
  height: 0.3rem;
  min-height: 0;
  margin: 0;
  border-radius: 0.1rem;
}

body header .navbar .container .btn--toggleNav .menu-bars .b2,
body header .navbar .container .btn--toggleNav .menu-bars .b3,
html header .navbar .container .btn--toggleNav .menu-bars .b2,
html header .navbar .container .btn--toggleNav .menu-bars .b3 {
  margin: 0.5rem 0 0;
}

body header .navbar .container .nav-wrapper,
html header .navbar .container .nav-wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  -webkit-transition: max-height 0.15s ease-in;
  transition: max-height 0.15s ease-in;
}

@media (min-width: 1200px) {
  body header .navbar .container .nav-wrapper,
  html header .navbar .container .nav-wrapper {
    margin-left: 2.0rem;
  }
}

@media (max-width: 991.98px) {
  body header .navbar .container .nav-wrapper,
  html header .navbar .container .nav-wrapper {
    width: 100%;
    height: 0;
    position: absolute;
    top: 10.0rem;
    max-height: 0rem !important;
    padding: 0 5%;
  }
}

@media (max-width: 767.98px) {
  body header .navbar .container .nav-wrapper,
  html header .navbar .container .nav-wrapper {
    padding: 0;
  }
}

body header .navbar .container .nav-wrapper .navlinks,
html header .navbar .container .nav-wrapper .navlinks {
  margin: 0;
  padding: 0 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

@media (max-width: 991.98px) {
  body header .navbar .container .nav-wrapper .navlinks,
  html header .navbar .container .nav-wrapper .navlinks {
    opacity: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  body header .navbar .container .nav-wrapper .navlinks,
  html header .navbar .container .nav-wrapper .navlinks {
    width: 80%;
    padding: 0;
  }
}

body header .navbar .container .nav-wrapper .navlinks .navlinks__item,
html header .navbar .container .nav-wrapper .navlinks .navlinks__item {
  list-style: none;
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 0 1.5rem;
  font-size: 1.2rem;
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
}

body header .navbar .container .nav-wrapper .navlinks .navlinks__item:hover,
html header .navbar .container .nav-wrapper .navlinks .navlinks__item:hover {
  color: #ffa600;
}

@media (max-width: 767.98px) {
  body header .navbar .container .nav-wrapper .navlinks .navlinks__item:hover,
  html header .navbar .container .nav-wrapper .navlinks .navlinks__item:hover {
    border-radius: 0.5rem;
  }
}

@media (max-width: 767.98px) {
  body header .navbar .container .nav-wrapper .navlinks .navlinks__item,
  html header .navbar .container .nav-wrapper .navlinks .navlinks__item {
    padding: 1.0rem 1.5rem;
  }
}

body header .navbar .container .nav-wrapper .nav-sep,
html header .navbar .container .nav-wrapper .nav-sep {
  background: #4d4d4d;
  padding: 3.0rem 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  body header .navbar .container .nav-wrapper .nav-sep,
  html header .navbar .container .nav-wrapper .nav-sep {
    padding: 0.1rem 0;
    margin: 2.0rem 0;
    width: 80%;
  }
}

body header .navbar .container .nav-wrapper .nav-session,
html header .navbar .container .nav-wrapper .nav-session {
  padding: 0 1.0rem;
}

@media (max-width: 991.98px) {
  body header .navbar .container .nav-wrapper .nav-session,
  html header .navbar .container .nav-wrapper .nav-session {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 30%;
  }
}

@media (max-width: 767.98px) {
  body header .navbar .container .nav-wrapper .nav-session,
  html header .navbar .container .nav-wrapper .nav-session {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    padding: 0;
    max-width: 100%;
  }
}

body header .navbar .container .nav-wrapper .nav-session .btn,
html header .navbar .container .nav-wrapper .nav-session .btn {
  font-size: 1.2rem;
  color: #48a200;
  text-transform: uppercase;
  padding: 0 1.0rem;
}

body header .navbar .container .nav-wrapper .nav-session .btn--login,
html header .navbar .container .nav-wrapper .nav-session .btn--login {
  background: #ffa600;
  color: black;
  padding: 1.0rem 3.5rem;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

@media (max-width: 991.98px) {
  body header .navbar.openMenu .nav-wrapper,
  html header .navbar.openMenu .nav-wrapper {
    background: black;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    left: 0;
    max-height: 50.0rem !important;
    height: 100% !important;
  }
}

@media (max-width: 767.98px) {
  body header .navbar.openMenu .nav-wrapper,
  html header .navbar.openMenu .nav-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto !important;
    max-height: 50.0rem !important;
    padding: 1.5rem 0;
  }
}

@media (max-width: 991.98px) {
  body header .navbar.openMenu .nav-wrapper .navlinks,
  html header .navbar.openMenu .nav-wrapper .navlinks {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    opacity: 1;
  }
}

@media (max-width: 767.98px) {
  body header .navbar.openMenu .nav-wrapper .navlinks,
  html header .navbar.openMenu .nav-wrapper .navlinks {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 767.98px) {
  body header .navbar.openMenu .nav-wrapper .navlinks,
  html header .navbar.openMenu .nav-wrapper .navlinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  body header .navbar.openMenu .nav-wrapper .navlinks .btn-signup,
  html header .navbar.openMenu .nav-wrapper .navlinks .btn-signup {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  body header .navbar.openMenu .nav-wrapper .navlinks .btn--login,
  html header .navbar.openMenu .nav-wrapper .navlinks .btn--login {
    opacity: 1;
    margin-left: 1.0rem;
  }
}

@media (max-width: 767.98px) {
  body header .navbar.openMenu .nav-wrapper .navlinks .btn--login,
  html header .navbar.openMenu .nav-wrapper .navlinks .btn--login {
    width: 100%;
    height: 5.0rem;
    margin-top: 1.5rem;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    margin-bottom: 1.5rem;
  }
}

body footer,
html footer {
  background: black;
  color: white;
  overflow: hidden;
}

body .footer-links,
html .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6.0rem 2.5rem 3.0rem;
}

@media (max-width: 991.98px) {
  body .footer-links,
  html .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6.0rem 2.5rem 0rem;
  }
}

body .footer-links-col,
html .footer-links-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 991.98px) {
  body .footer-links-col,
  html .footer-links-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 2.0rem;
  }
}

body .footer-links-col h3,
html .footer-links-col h3 {
  color: #ffa600;
  text-transform: uppercase;
  margin-bottom: 2.0rem;
  border-radius: .6rem;
  background: rgba(16, 12, 0, 0.5);
  display: inline;
  -webkit-text-shadow: 0px 0px 12px rgba(255, 166, 0, 0.3);
  -moz-text-shadow: 0px 0px 12px rgba(255, 166, 0, 0.3);
  -o-text-shadow: 0px 0px 12px rgba(255, 166, 0, 0.3);
  text-shadow: 0px 0px 12px rgba(255, 166, 0, 0.3);
  -webkit-box-shadow: 0px 0px 30px 1px #100c00;
  -o-box-shadow: 0px 0px 30px 1px #100c00;
  box-shadow: 0px 0px 30px 1px #100c00;
}

body .footer-links-col .no-blur,
html .footer-links-col .no-blur {
  background: none;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

body .footer-links-col li,
html .footer-links-col li {
  margin: 2.0rem 0;
}

@media (max-width: 991.98px) {
  body .footer-links-col li,
  html .footer-links-col li {
    text-align: center;
  }
}

body .footer-links-col a,
html .footer-links-col a {
  color: white;
  font-family: "Futura Medium BT";
  background: rgba(16, 12, 0, 0.5);
  border-radius: .6rem;
  -webkit-box-shadow: 0px 0px 30px 1px #100c00;
  -o-box-shadow: 0px 0px 30px 1px #100c00;
  box-shadow: 0px 0px 30px 1px #100c00;
}

body .footer-sep,
html .footer-sep {
  background: #4d4d4d;
  padding: 0.05rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 767.98px) {
  body .footer-sep,
  html .footer-sep {
    padding: 0.05rem 0;
    margin: 2.0rem 0;
    display: none;
  }
}

body .footer-info,
html .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Futura Medium BT";
  padding: 2.5rem 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  body .footer-info,
  html .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .footer-info__logo-image,
html .footer-info__logo-image {
  height: 6.0rem;
}

@media (max-width: 767.98px) {
  body .footer-info__logo-image,
  html .footer-info__logo-image {
    margin-bottom: 2.5rem;
  }
}

body .footer-info__copyright,
html .footer-info__copyright {
  margin-left: 2.5rem;
}

@media (max-width: 767.98px) {
  body .footer-info__copyright,
  html .footer-info__copyright {
    margin-bottom: 1.0rem;
    margin-left: 0;
  }
}

body .footer-info__credit,
html .footer-info__credit {
  margin-left: auto;
}

@media (max-width: 767.98px) {
  body .footer-info__credit,
  html .footer-info__credit {
    margin-bottom: 1.0rem;
    margin-left: 0;
  }
}

body .footer-info__credit span,
html .footer-info__credit span {
  color: #ffa600;
}

body .title-row,
html .title-row {
  text-align: center;
  padding: 40px 0;
}

body .title-row h2,
html .title-row h2 {
  margin: 2.0rem;
}

body #main-call-to-action,
html #main-call-to-action {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/header-bg.png") center no-repeat;
  background-size: cover;
}

body #main-call-to-action:before,
html #main-call-to-action:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  z-index: -1;
}

body #main-call-to-action h1,
html #main-call-to-action h1 {
  text-align: center;
  margin: 2.0rem;
  color: white;
  font-size: 2.8rem;
  font-weight: 700;
}

body #main-call-to-action h1 span,
html #main-call-to-action h1 span {
  font-size: 1.4rem;
}

body #main-call-to-action .get-started,
html #main-call-to-action .get-started {
  margin: 2.0rem;
  text-align: center;
}

body #main-call-to-action .get-started input,
html #main-call-to-action .get-started input {
  font-family: "Futura Medium BT";
  padding: 1.0rem 1.5rem;
  width: 30.0rem;
  font-size: 1.6rem;
  border-radius: .5rem;
}

body #main-call-to-action .get-started button,
html #main-call-to-action .get-started button {
  margin-left: 1.0rem;
}

body #main-call-to-action .view-more,
html #main-call-to-action .view-more {
  border: 2px solid white;
  width: 5.0rem;
  height: 5.0rem;
  position: absolute;
  bottom: 1.5rem;
  outline: none;
  left: 50%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -2.5rem;
  border-radius: 50%;
}

body #main-call-to-action .view-more i,
html #main-call-to-action .view-more i {
  border: solid #ffa600;
  border-width: 0 .3rem .3rem 0;
  display: inline-block;
  padding: .625rem;
  margin-top: -8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

body #secondary-call-to-action .container-fluid,
html #secondary-call-to-action .container-fluid {
  padding: 0;
}

body #secondary-call-to-action .container-fluid .row,
html #secondary-call-to-action .container-fluid .row {
  margin: 0;
}

body #secondary-call-to-action .container-fluid .row > div,
html #secondary-call-to-action .container-fluid .row > div {
  padding: 0;
}

body #secondary-call-to-action .container-fluid .row > div .call-to-action,
html #secondary-call-to-action .container-fluid .row > div .call-to-action {
  background-size: cover;
  height: 800px;
  position: relative;
  position: relative;
  z-index: 2;
}

body #secondary-call-to-action .container-fluid .row > div .call-to-action:before,
html #secondary-call-to-action .container-fluid .row > div .call-to-action:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  z-index: -1;
}

body #secondary-call-to-action .container-fluid .row > div .call-to-action.strength-athelete,
html #secondary-call-to-action .container-fluid .row > div .call-to-action.strength-athelete {
  background-image: url("/images/girl-training.jpg");
}

body #secondary-call-to-action .container-fluid .row > div .call-to-action.program-designer,
html #secondary-call-to-action .container-fluid .row > div .call-to-action.program-designer {
  background-image: url("/images/list.jpg");
}

body #secondary-call-to-action .container-fluid .row > div .call-to-action.personal-trainer,
html #secondary-call-to-action .container-fluid .row > div .call-to-action.personal-trainer {
  background-image: url("/images/hands-five.jpg");
}

body #secondary-call-to-action .container-fluid .row > div .call-to-action .content,
html #secondary-call-to-action .container-fluid .row > div .call-to-action .content {
  position: absolute;
  bottom: 0;
  padding: 0 40px 40px;
  color: white;
}

body #secondary-call-to-action .container-fluid .row > div .call-to-action .content h2,
body #secondary-call-to-action .container-fluid .row > div .call-to-action .content p,
html #secondary-call-to-action .container-fluid .row > div .call-to-action .content h2,
html #secondary-call-to-action .container-fluid .row > div .call-to-action .content p {
  margin-bottom: 20px;
}

body #secondary-call-to-action .container-fluid .row > div .call-to-action .content .buttons button,
html #secondary-call-to-action .container-fluid .row > div .call-to-action .content .buttons button {
  width: 45%;
}

body #main-features .container-fluid .row:nth-child(2) .feature,
html #main-features .container-fluid .row:nth-child(2) .feature {
  border-right: 1px solid lightgray;
  height: 560px;
}

body #main-features .container-fluid .row:nth-child(2) .feature .description,
html #main-features .container-fluid .row:nth-child(2) .feature .description {
  width: 80%;
  margin: 0 auto;
}

body #main-features .container-fluid .row:nth-child(2) .feature .description .icon,
html #main-features .container-fluid .row:nth-child(2) .feature .description .icon {
  height: 200px;
  background: center no-repeat;
  background-size: 120px;
}

body #main-features .container-fluid .row:nth-child(2) .feature .description ul li,
html #main-features .container-fluid .row:nth-child(2) .feature .description ul li {
  text-transform: uppercase;
}

body #main-features .container-fluid .row:nth-child(2) .feature .description ul li:before,
html #main-features .container-fluid .row:nth-child(2) .feature .description ul li:before {
  color: yellow;
  content: "\2022";
  font-size: 2em;
  position: relative;
  top: 5px;
  padding-right: 10px;
}

body #main-features .container-fluid .row:nth-child(2) .feature.program-designs .icon,
html #main-features .container-fluid .row:nth-child(2) .feature.program-designs .icon {
  background-image: url("/images/icons/program-designs.png");
}

body #main-features .container-fluid .row:nth-child(2) .feature.experience-bank .icon,
html #main-features .container-fluid .row:nth-child(2) .feature.experience-bank .icon {
  background-image: url("/images/icons/experience-bank.png");
}

body #main-features .container-fluid .row:nth-child(2) .feature.strength-standards .icon,
html #main-features .container-fluid .row:nth-child(2) .feature.strength-standards .icon {
  background-image: url("/images/icons/strength-standards.png");
}

body #main-features .container-fluid .row:nth-child(2) .feature.auto-regulation .icon,
html #main-features .container-fluid .row:nth-child(2) .feature.auto-regulation .icon {
  background-image: url("/images/icons/auto-regulation.png");
}

body #main-features .container-fluid .row:nth-child(2) .col-3:last-child .feature,
html #main-features .container-fluid .row:nth-child(2) .col-3:last-child .feature {
  border-right: none;
}

body #main-features .container-fluid .row:nth-child(3) .actions,
html #main-features .container-fluid .row:nth-child(3) .actions {
  width: 100%;
  text-align: center;
  padding: 80px 0;
}

body #symbiose,
html #symbiose {
  height: 900px;
  background: black;
}

body #symbiose .title-row,
html #symbiose .title-row {
  color: white;
}

body #profiles .container-fluid .row:nth-child(2),
html #profiles .container-fluid .row:nth-child(2) {
  padding-bottom: 60px;
}

body #profiles .container-fluid .row:nth-child(2) .profile,
html #profiles .container-fluid .row:nth-child(2) .profile {
  border-right: 1px solid lightgray;
  height: 560px;
}

body #profiles .container-fluid .row:nth-child(2) .profile .description,
html #profiles .container-fluid .row:nth-child(2) .profile .description {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

body #profiles .container-fluid .row:nth-child(2) .profile .description .icon,
html #profiles .container-fluid .row:nth-child(2) .profile .description .icon {
  height: 200px;
  background: center no-repeat;
  background-size: 120px;
}

body #profiles .container-fluid .row:nth-child(2) .profile .description ul li,
html #profiles .container-fluid .row:nth-child(2) .profile .description ul li {
  text-transform: uppercase;
}

body #profiles .container-fluid .row:nth-child(2) .profile .description ul li:before,
html #profiles .container-fluid .row:nth-child(2) .profile .description ul li:before {
  color: yellow;
  content: "\2022";
  font-size: 2em;
  position: relative;
  top: 5px;
  padding-right: 10px;
}

body #profiles .container-fluid .row:nth-child(2) .profile .description .btn,
html #profiles .container-fluid .row:nth-child(2) .profile .description .btn {
  position: absolute;
  bottom: 50px;
  left: 30px;
}

body #profiles .container-fluid .row:nth-child(2) .profile.strength-athlete .icon,
html #profiles .container-fluid .row:nth-child(2) .profile.strength-athlete .icon {
  background-image: url("/images/icons/strength-athlete.png");
}

body #profiles .container-fluid .row:nth-child(2) .profile.program-designer .icon,
html #profiles .container-fluid .row:nth-child(2) .profile.program-designer .icon {
  background-image: url("/images/icons/program-designer.png");
}

body #profiles .container-fluid .row:nth-child(2) .profile.personal-trainer .icon,
html #profiles .container-fluid .row:nth-child(2) .profile.personal-trainer .icon {
  background-image: url("/images/icons/personal-trainer.png");
}

body #profiles .container-fluid .row:nth-child(2) .col-4:last-child .profile,
html #profiles .container-fluid .row:nth-child(2) .col-4:last-child .profile {
  border-right: none;
}

