osg-plan-builder {
    display: block;
    padding-top: rem(120);
    background: #f5f5f5;
    h1 {
        @include section-title(rem(30));
        margin-bottom: 40px;
        width: 35%;
        @media (max-width: 1315px){
            width: 100%;
        }
    }

    h2 {
        @include section-title(rem(18));
    }

    @import 'calendar-builder/main';
    @import 'progression-builder/main';
}
