osg-strength-athlete-training-calendar {
    .title {
        display: block;
        width: 100%;
        border-bottom: solid 1px #c0dcd7;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 20px;

        h3 {
            @include section-title;
            float: left;
        }

        .control-slider {
            p {
                display: inline-block;
                text-transform: uppercase;
                font-family: $primary-font;
                font-size: rem(14);
                margin: 0px;
            }

            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                background: #000;
                color: #FFF;
                text-align: center;
                border-radius: 5px;
                line-height: 40px;
                font-size: rem(20);
                margin-left: 10px;
            }
        }

        .edit {
            display: block;
            float: right;
            width: 20px;
            filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(0);
        }
    }

    .conventions {
        display: block;
        text-align: center;

        p {
            color: #838383;
            font-size: rem(12);
            display: inline-block;
            margin-right: 10px;
            margin-left: 10px;

            span {
                display: inline-block;
                width: 40px;
                height: 3px;
                margin-right: 10px;
            }

            &.test {
                span {
                    border-top: dashed 3px $orange;
                }
            }

            &.completed {
                span {
                    border-top: solid 3px $dark-green;
                }
            }

            &.missed {
                span {
                    border-top: solid 3px #ff7200;
                }
            }

            &.today {
                span {
                    border-top: dashed 3px #a9a9a9;
                }
            }

            &.upcoming {
                span {
                    border-top: solid 3px #128cf3;
                }
            }
        }
    }
    .calendar{
        display: block;
        border-bottom: solid 1px #bfbfbf;
        padding-bottom: 20px;
        margin-bottom: 40px;
        .week-days{
            text-align: center;
            font-size: rem(12);
            margin-bottom: 10px;
        }
        .no-gutters > .col{
            padding-right: 2px;
            padding-left: 2px;
        }
        .days{
            .day{
                display: block;
                background: #FFF;
                border-left: solid 1px #dadada;
                border-right: solid 1px #dadada;
                border-bottom: solid 2px #bcbcbc;
                margin-bottom: 10px;
                height: 120px;
                position: relative;
                padding: rem(10);
                padding-top: 30px;
                p{
                    font-size: rem(10);
                    color: #838383;
                    display: block;
                }
                b{
                    font-size: rem(10);
                    color: #000;
                    display: block;
                }
                .time{
                    display: block;
                    position: absolute;
                    top: rem(8);
                    left: rem(10);
                    color: #838383;
                    font-size: rem(10);
                }
                &.completed{
                    background: #f0ffdf;
                    border-bottom-color: $dark-green;
                    border-left-color: #d5ebbd;
                    border-right-color: #d5ebbd;
                    .time{
                        color: $dark-green;
                    }
                }
                &.missed{
                    background: #ffecdd;
                    border-bottom-color: #ff7200;
                    border-left-color: #f8d4b8;
                    border-right-color: #f8d4b8;
                    .time{
                        color: $dark-green;
                    }
                }
                &.test{
                    &:after{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 3%;
                        left: 3%;
                        border: dashed 2px $orange;
                        width: 94%;
                        height: 94%;
                    }
                }
                &.today{
                    &:after{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 3%;
                        left: 3%;
                        border: dashed 2px #a9a9a9;
                        width: 94%;
                        height: 94%;
                    }
                }
                &.upcoming{
                    background: #e2f2ff;
                    border-bottom-color: #128cf3;
                    border-left-color: #bcdbf4;
                    border-right-color: #bcdbf4;
                    .time{
                        color: #128cf3;
                    }
                }
            }
        }
    }
}
