<h2>Program design:</h2>

<div class="table-program-design">
  <div class="table-responsive">
    <table class="table">
      <thead>
          <tr>
            <th rowspan="2">Muscle Group</th>
            <th rowspan="2">Test Exercise</th>
            <th rowspan="2">Type of exercise Level 1</th>
            <th rowspan="2">Exercises Level 2</th>
            <th colspan="2" class="blue">Volume</th>
            <th colspan="2" class="red">Intensity</th>
            <th rowspan="2" class="green">Frequency (muscle group per week)</th>
            <th rowspan="2">Progression model</th>
            <th rowspan="2">Rest periods (min-max)</th>
            <th rowspan="2">Tempo (all)</th>
          </tr>
          <tr>
            <th class="blue">Reps (min-max)</th>
            <th class="blue">Volume pr week (setxreps)</th>
            <th class="red">% of 1RM (min-max)</th>
            <th class="red">Reps to failure (min-max)</th>
          </tr>
          <!--  -->
      </thead>
      <tbody>
        <tr>
          <td rowspan="2">Chest</td>
          <td rowspan="2">Bench Press</td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Back</td>
          <td rowspan="2">Deadlift</td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Quads</td>
          <td rowspan="2">Squat</td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Shoulders</td>
          <td rowspan="2"></td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Hamstrings</td>
          <td rowspan="2"></td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Calves</td>
          <td rowspan="2"></td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Triceps</td>
          <td rowspan="2"></td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Biceps</td>
          <td rowspan="2"></td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td rowspan="2" class="green"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
