<h2>Program design:</h2>

<div class="table-program-design">
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <td rowspan="2">Muscle Group</td>
          <td rowspan="2">Test Exercise</td>
          <td rowspan="2">Type of exercise Level 1</td>
          <td rowspan="2">Exercises Level 2</td>
          <td colspan="2" class="blue">Volume</td>
          <td colspan="2" class="red">Intensity</td>
          <td rowspan="2" class="green">Frequency (muscle group per week)</td>
          <td rowspan="2">Progression model</td>
          <td rowspan="2">Rest periods (min-max)</td>
          <td rowspan="2">Tempo (all)</td>
        </tr>
        <tr>
          <td class="blue">Reps (min-max)</td>
          <td class="blue">Volume pr week (setxreps)</td>
          <td class="red">% of 1RM (min-max)</td>
          <td class="red">Reps to failure (min-max)</td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Chest</td>
          <td rowspan="2">Bench Press</td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Back</td>
          <td rowspan="2">Deadlift</td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Quads</td>
          <td rowspan="2">Squat</td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Shoulders</td>
          <td rowspan="2"></td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Hamstrings</td>
          <td rowspan="2"></td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Calves</td>
          <td rowspan="2"></td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Triceps</td>
          <td rowspan="2"></td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Biceps</td>
          <td rowspan="2"></td>
          <td>Multi joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="red"></td>
          <td class="red"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
