<div class="container-fluid">
    <h1>THE WORKOUT & CALENDAR BUILDER</h1>
    <div class="clearfix"></div>
    <div class="row">
        <osg-plan-builder-exercises></osg-plan-builder-exercises>
        <osg-plan-builder-workout></osg-plan-builder-workout>
        <osg-plan-builder-calendar></osg-plan-builder-calendar>
    </div>
    <div class="row">
        <div class="general-actions text-right">
            <a href="" class="btn btn-black py-2 px-4"> <img src="/assets/images/icons/icon-save.svg" alt=""> SAVE PROGRAM</a>
            <a href="" class="btn btn-green-gradient btn-next py-2 pl-3"> NEXT : PROGRESSION BUILDER</a>
        </div>    
    </div>
    <div class="row">
        <div class="col-12">
            <hr>
            <osg-get-started></osg-get-started>
        </div>
    </div>
</div>