.btn{
  //overriding bootstrap styes for buttons is perfectly okay!
  padding: 1.5rem 3.5rem;
  border-radius: .5rem;
  color: white;
  text-transform: uppercase;

  &.btn-primary{
    background: $secondary-color;
  }

  &.btn-transparent{
    background: transparent;
  }
}



.btn--learn-more {
  color: white;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  border-radius: .5rem;
  height: 100%;
  cursor: pointer;
}

.btn--learn-more-w-bg {
  background: white;
  color: black;
  border-radius: 2px solid gray;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  border-radius: .5rem;
  height: 100%;
  cursor: pointer;
}