// Colors

$white: white;
$yellow: #ffa600;
$green: #4fb100;
$gray: #4d4d4d;
$lightgray: #e1e1e1;
$medium-gray: #9a9a9a;
$dark-brown: #100c00;
$light-blue: #128cf3;
$orange: #ffa500;
$red: #e91212;
$dark-green: #76cf16;
$text-gray: #646464;