@mixin section-separator($margin: 50px, $color : $lightgray){
    &:after{
        content: '';
        display: block;
        width: 100%;
        border: 1px solid $color;
        margin: $margin 0;
    }
}