<div>
    <osg-profile-about-me profile="Personal Trainer" [text]="about" education="Norges idrettshøyskole" specialities="Sport performance" experience="10 Years" country="Oslo, Norway" location="Elixia Kalbakken"></osg-profile-about-me>
    <osg-news-feed [applicationUser]="applicationUser"></osg-news-feed>
</div>
<div>
    <osg-personal-trainer-offers></osg-personal-trainer-offers>
    <osg-personal-trainer-experience-bank></osg-personal-trainer-experience-bank>
    <osg-personal-trainer-booking-calendar></osg-personal-trainer-booking-calendar>
    <osg-get-started [sections]="getStartedSections"></osg-get-started>
</div>