osg-personal-trainer-booking-calendar {
    display: block;
    border-top: solid 1px #bfbfbf;

    .title {
        display: block;
        width: 100%;
        padding-bottom: 10px;

        margin-top: 20px;
        margin-bottom: 20px;

        h3 {
            @include section-title;
            float: left;
        }

        .control-slider {
            p {
                display: inline-block;
                text-transform: uppercase;
                font-family: $primary-font;
                font-size: rem(18);
                margin: 0px;
            }

            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                background: #000;
                color: #FFF;
                text-align: center;
                border-radius: 5px;
                line-height: 40px;
                font-size: rem(20);
                margin-left: 10px;
            }
        }

        .edit {
            display: block;
            float: right;
            width: 20px;
            filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(0);
        }
    }

    .conventions {
        display: block;
        text-align: center;

        p {
            color: #838383;
            font-size: rem(14);
            display: inline-block;
            margin-right: 10px;
            margin-left: 10px;

            span {
                display: inline-block;
                width: 40px;
                height: 3px;
                margin-right: 10px;
            }

            &.available {
                span {
                    border-top: solid 3px $dark-green;
                }
            }

            &.almost-full {
                span {
                    border-top: solid 3px #ff7200;
                }
            }

            &.complety-full {
                span {
                    border-top: solid 3px $red;
                }
            }

        }
    }

    .calendar {
        display: block;
        padding-bottom: 20px;

        .week-days {
            @extend .row;
            text-align: center;
            font-size: rem(14);
            margin-bottom: 10px;
        }

        .wrapper-weeks {
            .week {
                @extend .row;
                @extend .no-gutters;

                .day {
                    @extend .col;
                    padding-right: 2px;
                    padding-left: 2px;

                    div {
                        display: block;
                        background: #FFF;
                        border-left: solid 1px #dadada;
                        border-right: solid 1px #dadada;
                        border-bottom: solid 2px #bcbcbc;
                        margin-bottom: 10px;
                        height: 180px;
                        position: relative;
                        padding: 30px rem(10) rem(10);
                        cursor: pointer;
                        transition: all 0.2s linear;

                        p {
                            font-size: rem(14);
                            color: #838383;
                            display: block;
                        }

                        b {
                            font-size: rem(14);
                            color: #000;
                            display: block;
                        }

                        .time {
                            display: block;
                            position: absolute;
                            top: rem(8);
                            left: rem(10);
                            color: #838383;
                            font-size: rem(14);
                            transition: all 0.2s linear;
                        }
                    }
                    &.almost-full{
                        div{
                            border-bottom-color: #ffa500;
                            border-left-color: #f8e1b8;
                            border-right-color: #f8e1b8;
                            .time{
                                color: #ffa500;
                            }
                            &:hover{
                                background: #ffa500;
                                .time{
                                    color: #000;
                                }
                            }
                        }
                    }
                    &.complety-full{
                        div{
                            border-bottom-color: $red;
                            border-left-color: #f2bcbc;
                            border-right-color: #f2bcbc;
                            background: #ffeeee;
                            .time{
                                color: $red;
                            }
                            &:hover{
                                background: $red;
                                .time{
                                    color: #000;
                                }
                            }
                        }
                    }
                    &.available{
                        > div{
                            border-bottom-color: $dark-green;
                            border-left-color: #d5ebbd;
                            border-right-color: #d5ebbd;
                            .time{
                                color: $dark-green;
                            }
                            &:hover{
                                background: $dark-green;
                                .time{
                                    color: #000;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}
