<div class="modal-header">
    <h4 class="modal-title pull-left">Training Program for Mon, 7th August 2018</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table class="table">
        <thead>
            <tr>
                <th rowspan="2">Exercises</th>
                <th colspan="2">Volume</th>
                <th colspan="2">Intensity</th>
                <th colspan="3"></th>
            </tr>
            <tr>
                <th>Set</th>
                <th>Reps</th>
                <th>Reps to failure</th>
                <th>% of 1 rm</th>
                <th>Method</th>
                <th>Rest period <br> (min)</th>
                <th>Tempo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>squats</td>
                <td>1</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td>Lunges</td>
                <td>1</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td></td>
                <td>3</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td>Leg Press</td>
                <td>1</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td></td>
                <td>3</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td>Leg Press</td>
                <td>1</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td></td>
                <td>3</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td>Lunges</td>
                <td>1</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td></td>
                <td>3</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td>Lunges</td>
                <td>1</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
            <tr>
                <td></td>
                <td>3</td>
                <td>12</td>
                <td>@ 1</td>
                <td>60</td>
                <td>Straight set</td>
                <td>2</td>
                <td>3-0-2</td>
            </tr>
        </tbody>
    </table>

</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
</div> -->