.login{
  background: url('/images/login-page-bg.png') center no-repeat black;
  background-size: cover;
  height: 100vh;
  @include section-with-overlay(black);
  display: flex;
  align-items: center;
  justify-content: center;
  .login-content {
    max-width: rem(500);
    margin: auto;
    color: $white;
    h2 {
      font-family: $primary-font;
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
      margin: rem(40);
  
      small {
        display: block;
        font-size: 50%;
      }
    }

    form {
			.form-group {
				@extend .form-material-design;
				.form-control {
					border-radius: 4px;
				}
				.forgot-password {
					position: absolute;
					font-weight: 400;
					color: $medium-gray;
					font-size: rem(16);
					top: 13px;
					right: 13px;
					padding: 0 15px 0 0;
					transition: all 200ms;
					text-decoration: none;
					margin: 0;
				}
			}
		}

    a {
      color: inherit;
      text-decoration: underline;
    }

    .btn {
      width: 100%;
			text-transform: uppercase;
			padding: rem(10) 0;
		}
		.sign-up-link {
			text-align: center;
			margin-top: rem(15);
			a {
				color: $green;
				text-decoration: none;
			}
		}
  }
}