#main-call-to-action{
  @include section-with-overlay(black);
  @include full-height-with-centered-content;
  background: url('/images/header-bg.png') center no-repeat;
  background-size: cover;
  h1{
    text-align: center;
    margin: 2.0rem;
    color: white;
    font-size: $lg-size;
    font-weight: 700;
    span{
      font-size: $md-size;
    }
  }

  .get-started {
    margin: 2.0rem;
    text-align: center;
    input {
      font-family: $secondary-font;
      padding: 1.0rem 1.5rem;
      width: 30.0rem;
      font-size: $regular-size;
      border-radius: .5rem;
    }
    button {
      margin-left: 1.0rem;
    }
  }

  .view-more {
    border: 2px solid white;
    width: 5.0rem;
    height: 5.0rem;
    position: absolute;
    bottom: 1.5rem;
    outline: none;
    left: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2.5rem;
    @include crossBrowser(border-radius, 50%);
    i  {
      border: solid $primary-color;
      border-width: 0 .3rem .3rem 0;
      display: inline-block;
      padding: .625rem;
      margin-top: -8px;
      @include crossBrowser(transform, rotate(45deg));      
    }
  }
}

#secondary-call-to-action{
  // margin-top: -20px;
  .container-fluid{
    padding: 0;
    .row{
      margin: 0;
      > div{
        padding: 0;
        .call-to-action{
          background-size: cover;
          height: 800px;
          position: relative;
          @include section-with-overlay(black);
      
          &.strength-athelete{
            background-image: url('/images/girl-training.jpg');
          }
      
          &.program-designer{
            background-image: url('/images/list.jpg');
          }
      
          &.personal-trainer{
            background-image: url('/images/hands-five.jpg');
          }

          .content{
            position: absolute;
            bottom: 0;
            padding: 0 40px 40px;
            color: white;

            h2, p{
              margin-bottom: 20px;
            }

            .buttons{
              button{
                width: 45%;
              }
            }
          }
        }
      }
    }
  }
}








// #cta-items {
//   height: 100vh;
//   margin-top: -4.0rem;
  
//   color: white;

//   .container-fluid {
//     margin: 0;
//     padding: 0;
//     height: 100%;
//     @include size-down(md) {
//       flex-direction: column;
//     }
//   }

//   .cta__item {
//     display: flex;
//     flex-direction: column;
//     flex: 0 33.3333%;
//     @include section-with-overlay(black);
//     @include size-down(md) {
//       flex: 1;
//       min-height: 45.0rem;
//       justify-content: center;
//     }
//     &:before {
//       margin-top: 4.0rem;
//       @include size-down(md) {
//         margin-top: 0;
//       }
//     }
//     .container {
//       width: 75%;
//       padding-top: 60%;
//       @include size-down(md) {
//         padding: 0;
//       }
//     }
//     p {
//       font-family: $secondary-font;
//       @include size-up(lg) {
//         height: 12.0rem;
//       }
//     }
//   }

//   .cta__item:nth-child(1) {
//     background: url('/images/girl-training.jpg') center no-repeat;
//     background-size: cover;
//     @include size-down(md) {
//       background-position: center -5.0rem;     
//     }
//     &:before {
//       @include size-down(md) {
//         margin-top: 4.0rem;
//       }
//     }
//   }
//   .cta__item:nth-child(2) {
//     background: url('/images/list.jpg') center no-repeat;
//     background-size: cover;
//   }
//   .cta__item:nth-child(3) {
//     background: url('/images/hands-five.jpg') center no-repeat;
//     background-size: cover;
//     @include size-down(md) {
//       background-position: center -15.0rem;     
//     }
//   }
// }
