<div class="container">
    <h1>THE PROGRESSION BUILDER</h1>
    <div class="general-actions">
        <div class="col-12 col-sm-6">
            <a (click)="back()" class="btn btn-gray btn-back py-2 pr-3 mt-3 mt-sm-0"> BACK: TO CALENDAR BUILDER</a>
        </div>
        <div class="col-12 col-sm-6 text-right">
            <a href="" class="btn btn-black py-2 px-4"> <img src="/assets/images/icons/icon-save.svg" alt=""> SAVE PROGRAM</a>
            <a href="" class="btn btn-green-gradient py-2 px-4 ml-2">PUBLISH PROGRAM</a>
        </div>
    </div>
    <hr>
    <osg-progression-builder-progressive-overload-graph></osg-progression-builder-progressive-overload-graph>
    <osg-progression-builder-training-program></osg-progression-builder-training-program>
    <osg-progression-builder-program-design></osg-progression-builder-program-design>

    <div class="general-actions">
        <div class="col-12 col-sm-6">
            <a (click)="back()" class="btn btn-gray btn-back py-2 pr-3 mt-3 mt-sm-0"> BACK: TO CALENDAR BUILDER</a>
        </div>
        <div class="col-12 col-sm-6 text-right">
            <a href="" class="btn btn-black py-2 px-4"> <img src="/assets/images/icons/icon-save.svg" alt=""> SAVE PROGRAM</a>
            <a href="" class="btn btn-green-gradient py-2 px-4 ml-2">PUBLISH PROGRAM</a>
        </div>
    </div>
</div>