osg-experience-bank{
    display: block;
    background: #f5f5f5;
    width: 100%;
    padding-top: 170px;
    padding-bottom: 20px;
    .main-title{
        text-transform: uppercase;
        font-family: $primary-font;
        h1{
            margin: 0;
            font-size: 2rem;
        }
        span{
            color: #838383;
            font-size: 1.6rem;
        }
    }
    @import "muscle-group";
}