<div class="title">
  <div class="row">
    <div class="col-12">
      <h3>EXPERIENCE BANK: <span>GVT</span></h3>
    </div>
  </div>
</div>

<p>The numbers in the table shows the median percentage increase values (results) from all the strength athletes that
  have completed the program. The median is the middle value when all the individual strength athlete’s percentage
  increase values are listed in numerical order from the lowest to the highest.</p>

<div class="row">
  <div class="col-12 col-lg-6">
    <div class="table-responsive">
      <h4>TEST EXERCISE: BENCH PRESS (MEN) <span>- PERCENTAGE INCREASE</span></h4>
      <table class="table">
        <thead>
          <tr>
            <th>BODY WEIGHT</th>
            <th>UNTRAINED</th>
            <th>NOVICE</th>
            <th>INTERMEDIATE</th>
            <th>ADVANCED</th>
            <th>ELITE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="table-responsive">
      <h4>TEST EXERCISE: BENCH PRESS (WOMEN) <span>- PERCENTAGE INCREASE</span></h4>
      <table class="table">
        <thead>
          <tr>
            <th>BODY WEIGHT</th>
            <th>UNTRAINED</th>
            <th>NOVICE</th>
            <th>INTERMEDIATE</th>
            <th>ADVANCED</th>
            <th>ELITE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="table-responsive">
      <h4>TEST EXERCISE: SQUAT (MEN) <span>- PERCENTAGE INCREASE</span></h4>
      <table class="table">
        <thead>
          <tr>
            <th>BODY WEIGHT</th>
            <th>UNTRAINED</th>
            <th>NOVICE</th>
            <th>INTERMEDIATE</th>
            <th>ADVANCED</th>
            <th>ELITE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="table-responsive">
      <h4>TEST EXERCISE: SQUAT (WOMEN) <span>- PERCENTAGE INCREASE</span></h4>
      <table class="table">
        <thead>
          <tr>
            <th>BODY WEIGHT</th>
            <th>UNTRAINED</th>
            <th>NOVICE</th>
            <th>INTERMEDIATE</th>
            <th>ADVANCED</th>
            <th>ELITE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="table-responsive">
      <h4>TEST EXERCISE: DEADLIFT (MEN) <span>- PERCENTAGE INCREASE</span></h4>
      <table class="table">
        <thead>
          <tr>
            <th>BODY WEIGHT</th>
            <th>UNTRAINED</th>
            <th>NOVICE</th>
            <th>INTERMEDIATE</th>
            <th>ADVANCED</th>
            <th>ELITE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="table-responsive">
      <h4>TEST EXERCISE: DEADLIFT (WOMEN) <span>- PERCENTAGE INCREASE</span></h4>
      <table class="table">
        <thead>
          <tr>
            <th>BODY WEIGHT</th>
            <th>UNTRAINED</th>
            <th>NOVICE</th>
            <th>INTERMEDIATE</th>
            <th>ADVANCED</th>
            <th>ELITE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>50-69</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
