<div class="title">
  <div class="row">
    <div class="col-12">
      <h3>EXPERIENCE BANK: <span>GVT</span></h3>
    </div>
  </div>
</div>

<p>The numbers in the table shows the median percentage increase values (results) from all the strength athletes that
  have completed the program. The median is the middle value when all the individual strength athlete’s percentage
  increase values are listed in numerical order from the lowest to the highest.</p>

<div class="row">
  <div class="col-12 col-lg-6">
    <div class="table-responsive">
      <h4>TEST EXERCISE: BENCH PRESS (MEN) <span>- PERCENTAGE INCREASE</span></h4>
      <table class="table">
        <thead>
          <tr>
            <th>BODY WEIGHT</th>
            <th>UNTRAINED</th>
            <th>NOVICE</th>
            <th>INTERMEDIATE</th>
            <th>ADVANCED</th>
            <th>ELITE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50-59</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>60-69</td>
            <td>9,11</td>
            <td>9,25</td>
            <td>8,12</td>
            <td>6,89</td>
            <td>5,43</td>
          </tr>
          <tr>
            <td>70-79</td>
            <td>7,65</td>
            <td>7,66</td>
            <td>6,48</td>
            <td>5,21</td>
            <td>3,21</td>
          </tr>
          <tr>
            <td>80-89</td>
            <td>6,54</td>
            <td>6,68</td>
            <td>7,21</td>
            <td>5,12</td>
            <td>4,47</td>
          </tr>
          <tr>
            <td>90-99</td>
            <td>4,41</td>
            <td>5,54</td>
            <td>6,81</td>
            <td>3,41</td>
            <td>2,21</td>
          </tr>
          <tr>
            <td>100-109</td>
            <td>6,87</td>
            <td>5,54</td>
            <td>4,83</td>
            <td>2,19</td>
            <td>1,12</td>
          </tr>
          <tr>
            <td>110-119</td>
            <td>8,57</td>
            <td>7,23</td>
            <td>6,57</td>
            <td>4,12</td>
            <td>3,49</td>
          </tr>
          <tr>
            <td>120+</td>
            <td>6,54</td>
            <td>0,99</td>
            <td>2,19</td>
            <td>2,48</td>
            <td>3,59</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="table-responsive">
      <h4>TEST EXERCISE: BENCH PRESS (WOMEN) <span>- PERCENTAGE INCREASE</span></h4>
      <table class="table">
        <thead>
          <tr>
            <th>BODY WEIGHT</th>
            <th>UNTRAINED</th>
            <th>NOVICE</th>
            <th>INTERMEDIATE</th>
            <th>ADVANCED</th>
            <th>ELITE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50-59</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>60-69</td>
            <td>9,11</td>
            <td>9,25</td>
            <td>8,12</td>
            <td>6,89</td>
            <td>5,43</td>
          </tr>
          <tr>
            <td>70-79</td>
            <td>7,65</td>
            <td>7,66</td>
            <td>6,48</td>
            <td>5,21</td>
            <td>3,21</td>
          </tr>
          <tr>
            <td>80-89</td>
            <td>6,54</td>
            <td>6,68</td>
            <td>7,21</td>
            <td>5,12</td>
            <td>4,47</td>
          </tr>
          <tr>
            <td>90-99</td>
            <td>4,41</td>
            <td>5,54</td>
            <td>6,81</td>
            <td>3,41</td>
            <td>2,21</td>
          </tr>
          <tr>
            <td>100-109</td>
            <td>6,87</td>
            <td>5,54</td>
            <td>4,83</td>
            <td>2,19</td>
            <td>1,12</td>
          </tr>
          <tr>
            <td>110-119</td>
            <td>8,57</td>
            <td>7,23</td>
            <td>6,57</td>
            <td>4,12</td>
            <td>3,49</td>
          </tr>
          <tr>
            <td>120+</td>
            <td>6,54</td>
            <td>0,99</td>
            <td>2,19</td>
            <td>2,48</td>
            <td>3,59</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="table-responsive">
      <h4>TEST EXERCISE: SQUAT (MEN) <span>- PERCENTAGE INCREASE</span></h4>
      <table class="table">
        <thead>
          <tr>
            <th>BODY WEIGHT</th>
            <th>UNTRAINED</th>
            <th>NOVICE</th>
            <th>INTERMEDIATE</th>
            <th>ADVANCED</th>
            <th>ELITE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50-59</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>60-69</td>
            <td>9,11</td>
            <td>9,25</td>
            <td>8,12</td>
            <td>6,89</td>
            <td>5,43</td>
          </tr>
          <tr>
            <td>70-79</td>
            <td>7,65</td>
            <td>7,66</td>
            <td>6,48</td>
            <td>5,21</td>
            <td>3,21</td>
          </tr>
          <tr>
            <td>80-89</td>
            <td>6,54</td>
            <td>6,68</td>
            <td>7,21</td>
            <td>5,12</td>
            <td>4,47</td>
          </tr>
          <tr>
            <td>90-99</td>
            <td>4,41</td>
            <td>5,54</td>
            <td>6,81</td>
            <td>3,41</td>
            <td>2,21</td>
          </tr>
          <tr>
            <td>100-109</td>
            <td>6,87</td>
            <td>5,54</td>
            <td>4,83</td>
            <td>2,19</td>
            <td>1,12</td>
          </tr>
          <tr>
            <td>110-119</td>
            <td>8,57</td>
            <td>7,23</td>
            <td>6,57</td>
            <td>4,12</td>
            <td>3,49</td>
          </tr>
          <tr>
            <td>120+</td>
            <td>6,54</td>
            <td>0,99</td>
            <td>2,19</td>
            <td>2,48</td>
            <td>3,59</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="table-responsive">
      <h4>TEST EXERCISE: SQUAT (WOMEN) <span>- PERCENTAGE INCREASE</span></h4>
      <table class="table">
        <thead>
          <tr>
            <th>BODY WEIGHT</th>
            <th>UNTRAINED</th>
            <th>NOVICE</th>
            <th>INTERMEDIATE</th>
            <th>ADVANCED</th>
            <th>ELITE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50-59</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>60-69</td>
            <td>9,11</td>
            <td>9,25</td>
            <td>8,12</td>
            <td>6,89</td>
            <td>5,43</td>
          </tr>
          <tr>
            <td>70-79</td>
            <td>7,65</td>
            <td>7,66</td>
            <td>6,48</td>
            <td>5,21</td>
            <td>3,21</td>
          </tr>
          <tr>
            <td>80-89</td>
            <td>6,54</td>
            <td>6,68</td>
            <td>7,21</td>
            <td>5,12</td>
            <td>4,47</td>
          </tr>
          <tr>
            <td>90-99</td>
            <td>4,41</td>
            <td>5,54</td>
            <td>6,81</td>
            <td>3,41</td>
            <td>2,21</td>
          </tr>
          <tr>
            <td>100-109</td>
            <td>6,87</td>
            <td>5,54</td>
            <td>4,83</td>
            <td>2,19</td>
            <td>1,12</td>
          </tr>
          <tr>
            <td>110-119</td>
            <td>8,57</td>
            <td>7,23</td>
            <td>6,57</td>
            <td>4,12</td>
            <td>3,49</td>
          </tr>
          <tr>
            <td>120+</td>
            <td>6,54</td>
            <td>0,99</td>
            <td>2,19</td>
            <td>2,48</td>
            <td>3,59</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="table-responsive">
      <h4>TEST EXERCISE: DEADLIFT (MEN) <span>- PERCENTAGE INCREASE</span></h4>
      <table class="table">
        <thead>
          <tr>
            <th>BODY WEIGHT</th>
            <th>UNTRAINED</th>
            <th>NOVICE</th>
            <th>INTERMEDIATE</th>
            <th>ADVANCED</th>
            <th>ELITE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50-59</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>60-69</td>
            <td>9,11</td>
            <td>9,25</td>
            <td>8,12</td>
            <td>6,89</td>
            <td>5,43</td>
          </tr>
          <tr>
            <td>70-79</td>
            <td>7,65</td>
            <td>7,66</td>
            <td>6,48</td>
            <td>5,21</td>
            <td>3,21</td>
          </tr>
          <tr>
            <td>80-89</td>
            <td>6,54</td>
            <td>6,68</td>
            <td>7,21</td>
            <td>5,12</td>
            <td>4,47</td>
          </tr>
          <tr>
            <td>90-99</td>
            <td>4,41</td>
            <td>5,54</td>
            <td>6,81</td>
            <td>3,41</td>
            <td>2,21</td>
          </tr>
          <tr>
            <td>100-109</td>
            <td>6,87</td>
            <td>5,54</td>
            <td>4,83</td>
            <td>2,19</td>
            <td>1,12</td>
          </tr>
          <tr>
            <td>110-119</td>
            <td>8,57</td>
            <td>7,23</td>
            <td>6,57</td>
            <td>4,12</td>
            <td>3,49</td>
          </tr>
          <tr>
            <td>120+</td>
            <td>6,54</td>
            <td>0,99</td>
            <td>2,19</td>
            <td>2,48</td>
            <td>3,59</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="table-responsive">
      <h4>TEST EXERCISE: DEADLIFT (WOMEN) <span>- PERCENTAGE INCREASE</span></h4>
      <table class="table">
        <thead>
          <tr>
            <th>BODY WEIGHT</th>
            <th>UNTRAINED</th>
            <th>NOVICE</th>
            <th>INTERMEDIATE</th>
            <th>ADVANCED</th>
            <th>ELITE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50-59</td>
            <td>8,21</td>
            <td>8,01</td>
            <td>7,98</td>
            <td>7,10</td>
            <td>6,21</td>
          </tr>
          <tr>
            <td>60-69</td>
            <td>9,11</td>
            <td>9,25</td>
            <td>8,12</td>
            <td>6,89</td>
            <td>5,43</td>
          </tr>
          <tr>
            <td>70-79</td>
            <td>7,65</td>
            <td>7,66</td>
            <td>6,48</td>
            <td>5,21</td>
            <td>3,21</td>
          </tr>
          <tr>
            <td>80-89</td>
            <td>6,54</td>
            <td>6,68</td>
            <td>7,21</td>
            <td>5,12</td>
            <td>4,47</td>
          </tr>
          <tr>
            <td>90-99</td>
            <td>4,41</td>
            <td>5,54</td>
            <td>6,81</td>
            <td>3,41</td>
            <td>2,21</td>
          </tr>
          <tr>
            <td>100-109</td>
            <td>6,87</td>
            <td>5,54</td>
            <td>4,83</td>
            <td>2,19</td>
            <td>1,12</td>
          </tr>
          <tr>
            <td>110-119</td>
            <td>8,57</td>
            <td>7,23</td>
            <td>6,57</td>
            <td>4,12</td>
            <td>3,49</td>
          </tr>
          <tr>
            <td>120+</td>
            <td>6,54</td>
            <td>0,99</td>
            <td>2,19</td>
            <td>2,48</td>
            <td>3,59</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
