<div class="title">
  <div class="row align-items-center">
    <div class="col-12 col-lg-6">
      <h3>Reviews: <span>GVT</span></h3>
    </div>
    <div class="col-12 col-lg-6 text-right mt-3 mt-lg-0">
      <div class="row">
        <div class="col-12 col-sm-6">
          <button class="btn btn-black btn-block text-uppercase py-2">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </span> ALL REVIEWS
          </button>
        </div>
        <div class="col-12 col-sm-6"><button class="btn btn-black btn-block text-uppercase py-2"> <img src="/assets/images/icons/icon-pencil.svg"
              class="d-inline-block img-fluid" alt=""> WRITE REVIEW</button></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="review-box">
    <div class="review">
      <figure>
        <img src="/assets/images/icons/icon-account-gray.png" alt="" class="img-fluid d-block mx-auto">
      </figure>
      <p class="name">Alex James</p>
      <p>Best coach I have worked with! </p>
      <div class="rating">
        <p>5.0</p>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="review-box">
    <div class="review">
      <figure>
        <img src="/assets/images/icons/icon-account-gray.png" alt="" class="img-fluid d-block mx-auto">
      </figure>
      <p class="name">Alex James</p>
      <p>Best coach I have worked with! </p>
      <div class="rating">
        <p>5.0</p>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="review-box">
    <div class="review">
      <figure>
        <img src="/assets/images/icons/icon-account-gray.png" alt="" class="img-fluid d-block mx-auto">
      </figure>
      <p class="name">Alex James</p>
      <p>Best coach I have worked with! </p>
      <div class="rating">
        <p>5.0</p>
        <span class="fa-stack middle">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack middle">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack middle">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="review-box">
    <div class="review">
      <figure>
        <img src="/assets/images/icons/icon-account-gray.png" alt="" class="img-fluid d-block mx-auto">
      </figure>
      <p class="name">Alex James</p>
      <p>Best coach I have worked with! </p>
      <div class="rating">
        <p>5.0</p>
        <span class="fa-stack middle">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack middle">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack middle">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="review-box">
    <div class="review">
      <figure>
        <img src="/assets/images/icons/icon-account-gray.png" alt="" class="img-fluid d-block mx-auto">
      </figure>
      <p class="name">Alex James</p>
      <p>Best coach I have worked with! </p>
      <div class="rating">
        <p>5.0</p>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack excellent">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    </div>
  </div>
</div>
