<div class="title">
  <div class="row align-items-center">
    <div class="col-12 col-lg-auto col-xl-6 mb-2 mb-xl-0">
      <h3>PROGRAM DESIGN: <span>GVT</span></h3>
    </div>
    <div class="col-12 col-lg col-xl-6 text-lg-right">
      <div class="sort-box">
        <p>LEVEL:</p>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">NOVICE</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <p>Category:</p>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Power</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-top-program">
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <td rowspan="2">Muscle Group</td>
          <td rowspan="2">Test Exercise</td>
          <td rowspan="2">Type of exercise</td>
          <td rowspan="2">Exercises</td>
          <td colspan="2" class="blue">Volume</td>
          <td colspan="2" class="orange">Intensity</td>
          <td rowspan="2" class="green">Frequency (muscle group per week)</td>
          <td rowspan="2">Progression model</td>
          <td rowspan="2">Rest periods</td>
          <td rowspan="2">Tempo</td>
        </tr>
        <tr>
          <td class="blue">Sets</td>
          <td class="blue">Reps</td>
          <td class="orange">% of 1RM</td>
          <td class="orange">Reps to failure</td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Chest</td>
          <td rowspan="2">Bench Press</td>
          <td>Multiple joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Back</td>
          <td rowspan="2">Deadlift</td>
          <td>Multiple joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Quads</td>
          <td rowspan="2">Squat</td>
          <td>Multiple joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Shoulders</td>
          <td rowspan="2"></td>
          <td>Multiple joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Hamstrings</td>
          <td rowspan="2"></td>
          <td>Multiple joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Calves</td>
          <td rowspan="2"></td>
          <td>Multiple joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Triceps</td>
          <td rowspan="2"></td>
          <td>Multiple joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!--  -->
        <tr>
          <td rowspan="2">Biceps</td>
          <td rowspan="2"></td>
          <td>Multiple joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Single joint exercises</td>
          <td></td>
          <td class="blue"></td>
          <td class="blue"></td>
          <td class="orange"></td>
          <td class="orange"></td>
          <td class="green"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
