<div>
    <osg-profile-about-me profile="Program Designer" [text]="about" education="Norges idrettshøyskole" specialities="Sport performance" experience="10 Years" country="Oslo, Norway" ></osg-profile-about-me>
    <osg-news-feed [applicationUser]="applicationUser"></osg-news-feed>
</div>
<div>
    <osg-program-designer-published-programs></osg-program-designer-published-programs>
    <osg-program-designer-program-filter></osg-program-designer-program-filter>
    <osg-program-designer-experience-bank></osg-program-designer-experience-bank>
    <osg-program-designer-experience-reviews></osg-program-designer-experience-reviews>
    <osg-program-designer-program-design></osg-program-designer-program-design>
    <osg-program-designer-training-calendar></osg-program-designer-training-calendar>
    <osg-get-started view="secondary" [sections]="getStartedSections"></osg-get-started>
</div>