<div class="title">
  <div class="row">
    <div class="col-12">
      <h3>SORT BY</h3>
    </div>
  </div>
</div>

<div class="filter-box">
    <h4>Select Program</h4>
    <div class="dropdown white-dropdown with-label">
        <label for="">Program</label>
        <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">German Volume Training (GVT
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-sm-6">
            <h4>Men</h4>
            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Body Weight (kg)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">0 - 5-
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown">
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Level
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown">
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Waist-Hip Ratio
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Height (cm)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">161 - 170</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown">
                            <button class="btn dropdown-toggle btn-block" type="button" id="5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Age (years)</button>
                            <div class="dropdown-menu" aria-labelledby="5">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Muscle Fiber Type</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Slow Twitch</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <h4>Women</h4>
            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Body Weight (kg)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">0 - 5-
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown">
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Level
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown">
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Waist-Hip Ratio
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Height (cm)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">161 - 170</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown">
                            <button class="btn dropdown-toggle btn-block" type="button" id="5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Age (years)</button>
                            <div class="dropdown-menu" aria-labelledby="5">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Muscle Fiber Type</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Slow Twitch</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="col-12 col-sm-8">
            <div class="gender">
                <h4>Men: </h4>
                <p>0-50 kg <span>x</span></p>
                <p>161-170 cm <span>x</span></p>
                <p>Slow Twitch <span>x</span></p>
            </div>
            <div class="gender">
                <h4>Women: </h4>
                <p>0-50 kg <span>x</span></p>
                <p>0-20 years <span>x</span></p>
            </div>
        </div>
        <div class="col-12 col-sm-4 text-right">
            <a href="" class="btn btn-black px-4 py-2">SHOW RESULTS</a>
        </div>
    </div>
</div>