<div class="title">
  <div class="row align-items-center">
    <div class="col-12 col-sm-8">
      <h3>PUBLISHED PROGRAMS</h3>
    </div>
    <div class="col-12 col-sm-4 text-right">
        <div class="control-slider">
            <a href="" class="btn-control prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a href="" class="btn-control next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
        <a href="" class="btn btn-green-gradient py-2">NEW PROGRAM</a>
    </div>
  </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>PROGRAM:</th>
                <th>GVT</th>
                <th>5x5</th>
                <th>Starting Strenght</th>
                <th>X-shape</th>
                <th>Athletic</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>PUBLISHED DATE:</td>
                <td>01.07.18</td>
                <td>02.05.17</td>
                <td>02.05.17</td>
                <td>02.05.17</td>
                <td>02.05.17</td>
            </tr>
            <tr>
                <td>NO. OF COMPLETIONS:</td>
                <td>352</td>
                <td>352</td>
                <td>352</td>
                <td>352</td>
                <td>352</td>
            </tr>
            <tr>
                <td>Length (Weeks):</td>
                <td>12</td>
                <td>12</td>
                <td>12</td>
                <td>12</td>
                <td>12</td>
            </tr>
            <tr>
                <td>CATEGORY: </td>
                <td>Hypertrophy</td>
                <td>Hypertrophy</td>
                <td>Hypertrophy</td>
                <td>Hypertrophy</td>
                <td>Hypertrophy</td>
            </tr>
            <tr>
                <td>TRAINING SPLIT:</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</div>