<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>CHEST</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">BENCH PRESS</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">UNTRAINED</a>
                        <a class="dropdown-item" href="#">NOVICE</a>
                        <a class="dropdown-item" href="#">INTERMEDIATE</a>
                        <a class="dropdown-item" href="#">ADVANCED</a>
                        <a class="dropdown-item" href="#">ELITE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm1">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <b>mirror athletes</b> (all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>Back</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dead Lift</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">UNTRAINED</a>
                        <a class="dropdown-item" href="#">NOVICE</a>
                        <a class="dropdown-item" href="#">INTERMEDIATE</a>
                        <a class="dropdown-item" href="#">ADVANCED</a>
                        <a class="dropdown-item" href="#">ELITE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm2" role="button" aria-expanded="false" aria-controls="collapseForm2">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm2">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <b>mirror athletes</b> (all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-auto">
                <h4>SHOULDERS</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">SEATED BARBELL SHOULDER PRESS (BEHIND BACK)</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">UNTRAINED</a>
                        <a class="dropdown-item" href="#">NOVICE</a>
                        <a class="dropdown-item" href="#">INTERMEDIATE</a>
                        <a class="dropdown-item" href="#">ADVANCED</a>
                        <a class="dropdown-item" href="#">ELITE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm3" role="button" aria-expanded="false" aria-controls="collapseForm3">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm3">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <b>mirror athletes</b> (all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>QUADS</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">SQUAT</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">UNTRAINED</a>
                        <a class="dropdown-item" href="#">NOVICE</a>
                        <a class="dropdown-item" href="#">INTERMEDIATE</a>
                        <a class="dropdown-item" href="#">ADVANCED</a>
                        <a class="dropdown-item" href="#">ELITE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm4" role="button" aria-expanded="false" aria-controls="collapseForm4">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm4">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <b>mirror athletes</b> (all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>HAMSTRINGS</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">SEATED LEG CURL</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">UNTRAINED</a>
                        <a class="dropdown-item" href="#">NOVICE</a>
                        <a class="dropdown-item" href="#">INTERMEDIATE</a>
                        <a class="dropdown-item" href="#">ADVANCED</a>
                        <a class="dropdown-item" href="#">ELITE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm5" role="button" aria-expanded="false" aria-controls="collapseForm5">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm5">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <b>mirror athletes</b> (all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>CALVES</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">STANDING CALF RAISES</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">UNTRAINED</a>
                        <a class="dropdown-item" href="#">NOVICE</a>
                        <a class="dropdown-item" href="#">INTERMEDIATE</a>
                        <a class="dropdown-item" href="#">ADVANCED</a>
                        <a class="dropdown-item" href="#">ELITE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm6" role="button" aria-expanded="false" aria-controls="collapseForm6">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm6">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <b>mirror athletes</b> (all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>Biceps</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">BARBELL SCOTT CURL</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">UNTRAINED</a>
                        <a class="dropdown-item" href="#">NOVICE</a>
                        <a class="dropdown-item" href="#">INTERMEDIATE</a>
                        <a class="dropdown-item" href="#">ADVANCED</a>
                        <a class="dropdown-item" href="#">ELITE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm7" role="button" aria-expanded="false" aria-controls="collapseForm7">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm7">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <b>mirror athletes</b> (all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>TRICEPS</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">DUMBELL SKULL CRUSHER</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">UNTRAINED</a>
                        <a class="dropdown-item" href="#">NOVICE</a>
                        <a class="dropdown-item" href="#">INTERMEDIATE</a>
                        <a class="dropdown-item" href="#">ADVANCED</a>
                        <a class="dropdown-item" href="#">ELITE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm8" role="button" aria-expanded="false" aria-controls="collapseForm8">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm8">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters at your <b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters with your <b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <b>mirror athletes</b> (all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>