<h3>about me</h3>
<div class="about-me-container">
    <p>Working as professional trainer for 10 years. I am confident and passionate about what I do for a living. Let me help you transform your personal life.</p>
    <div class="summary">
        <div class="entry"><span>Education:</span><span>Norges idrettshöyskole</span></div>
        <div class="entry"><span>Specialities:</span><span>Sport performance</span></div>
        <div class="entry"><span>Experience:</span><span>10 years</span></div>
        <div class="entry"><span>Country:</span><span>Oslo, Norway</span></div>
        <div class="entry"><span>Location:</span><span>Elixia Kalbakken</span></div>
        <div class="entry"><span>Profile:</span><span>Personal Trainer</span></div>
    </div>
    <button class="btn btn-primary">Contact me</button>
</div>