<div class="row mb-2 align-items-center">
    <div class="col text-left"><h3>about me</h3></div>
    <div class="col text-right"><a href="" class="edit"><img src="/assets/images/icons/icon-pencil.svg" class="img-fluid" alt=""></a></div>
</div>
<div class="about-me-container">
    <p>Working as professional trainer for 10 years. I am confident and passionate about what I do for a living. Let me help you transform your personal life.</p>
    <div class="summary">
        <div class="entry"><span> <img src="/assets/images/icons/icon-star.png" class="img-fluid d-inline-block" alt=""> Interests:</span><span>Norges idrettshöyskole</span></div>
        <div class="entry"><span><img src="/assets/images/icons/icon-calendar.png" class="img-fluid d-inline-block" alt=""> Experience:</span><span>Sport performance</span></div>
        <div class="entry"><span><img src="/assets/images/icons/icon-world.png" class="img-fluid d-inline-block" alt=""> Country:</span><span>Oslo, Norway</span></div>
        <div class="entry"><span><img src="/assets/images/icons/icon-profile.png" class="img-fluid d-inline-block" alt=""> Profile:</span><span>Personal Trainer</span></div>
    </div>
    <button class="btn btn-black btn-block text-uppercase py-2"> <img src="/assets/images/icons/icon-go-to.svg" class="d-inline-block img-fluid" alt=""> Contact me</button>
</div>