<footer>
    <section class="footer-info">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 text-center text-md-left"> <img src="assets/images/logo.png" alt="logo"
                        class="img-fluid d-inline-block logo-footer">
                    <p class="d-inline-block">Copyright {{today | date: 'y'}} © Optimal Strength Gains AS. All Rights Reserved.</p>
                </div>
                <div class="col-12 col-sm-4 text-center text-md-right d-flex align-items-center">
                    <p class="m-auto">Web Design & Web Development: <a href="https://fantasylab.io" target="_blank"><span>FantasyLab.</span></a></p>
                </div>
            </div>
        </div>
    </section>
</footer>