html {
  font-size: 62.5%;
  @include size-down(lg) {
    font-size: 54.5%;
  }
}

body {
  background: white;
  font-size: $md-size;
  font-family: $primary-font;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

input, button {
  outline: none;
  border: none;
}

li {
  list-style: none;
}
ul {
  padding: 0;
}
